# Ignore compiled Python files  
*.pyc  
__pycache__/  

# Ignore environment & secrets  
db.sqlite3  
envi/  
.env  

# Ignore virtual environment  
venv/  
DBmini/DBmini/venv/  

# Ignore unnecessary system files  
*.log  
*.sqlite3-journal  
